*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white-color:#ffffff;
    --body-color:#FCFCFC;
    --container-color:#ffffff;
    --first-color:#FFB568;
    --second-color-alt:#363636;
    --title-color:#2E2E2E;
    --text-color:#595959;
    --text-color-alt:#BFBFBF;
    --text-color-light:#8C8C8C;
    --button-color:#2B2B2B;
    --border-color:#F0F0F0;
    --fs-40px:40px;
    --fs-36px:36px;
    --fs-32px:32px;
    --fs-28px:28px;
    --fs-24px:24px;
    --fs-20px:20px;
    --fs-16px:16px;
    --fs-15px:15px;
    --fs-14px:14px;
    --fs-13px:13px;
    --fs-12px:12px;
    --fw-400:400;
    --fw-500:500;
    --fw-700:700;
    --main-section-padding: 70px 0;
}
html{
    scroll-behavior: smooth;
}
body{
    position: relative;
    font-family: "Roboto", serif;
    font-weight: var(--fw-400);
    background-color: var(--body-color);
}
body.darkmode{
    --body-color:#1F1F1F;
    --container-color:#292929;
    --first-color:#EFBE8A;
    --second-color-alt:#3D3D3D;
    --second-color-alt-2:#474747;
    --title-color:#F2F2F2;
    --text-color:#BFBFBF;
    --text-color-alt:#BFBFBF;
    --text-color-light:#8C8C8C;
    --button-color:#3D3D3D;
    --border-color:#333333;
}
section{
    padding: var(--main-section-padding);
}
.container{
    width: min(1024px, 100% - 40px);
    margin: auto;
}
ul{
    list-style: none;
}
a{
    font: inherit;
    color: inherit;
    text-decoration: none;
}
input,
button,
textarea{
    font: inherit;
    color: inherit;
    border: none;
    outline: none;
}
span{
    font: inherit;
    color: inherit;
}
img{
    max-width: 100%;
}
/* Utitlity Classes */
.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.i-flex{
    display: inline-flex;
    align-items: center;
}
.grid{
    display: grid;
}
h1.title{
    font-size: clamp(var(--fs-28px), 5vw, var(--fs-40px));
    font-weight: var(--fw-700);
    color: var(--title-color);
}
h2.title{
    font-size: clamp(var(--fs-16px), 5vw, var(--fs-20px));
    font-weight: var(--fw-500);
    color: var(--title-color);
}
.overline{
    position: relative;
    padding-top: 16px;
}
.overline::before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 67px;
    height: 1px;
    background-color: var(--first-color);
}
h3.title{
    font-size: clamp(var(--fs-24px), 5vw, var(--fs-36px));
    font-weight: var(--fw-500);
    color: var(--title-color);
}
p.description{
    line-height: 1.6;
    font-size: var(--fs-16px);
    color: var(--text-color);
}
.cart-btn{
    display: inline-flex;
    padding: 20px 32px;
    font-size: clamp(var(--fs-15px), 5vw, var(--fs-16px));
    font-weight: var(--fw-500);
    background-color: var(--button-color);
    color: var(--white-color);
    box-shadow: 0 4px 4px 0 rgba(0 0 0 / .25);
    cursor: pointer;
}
button.special-cart-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 8px;
    background-color: var(--button-color);
    cursor: pointer;
}
.text-center{
    text-align: center;
}
span.product-name{
    font-size: clamp(var(--fs-13px), 5vw, var(--fs-14px) + 4px);
    font-weight: var(--fw-700);
    color: var(--title-color);
    cursor:   text;
}
span.product-price{
    font-size: var(--fs-20px);
    font-weight: var(--fw-500);
    color: var(--first-color);
    cursor:   text;
}
/* Component */
header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    padding: 25px 0;
    background-color: transparent;
}
header .container{
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
header .container .logo a{
    gap: 5px;
    font-size: var(--fs-16px);
    font-weight: var(--fw-700);
    color: var(--title-color);
}
header .container nav .icons{
    gap: 15px;
}
header .container nav .icons img{
    cursor: pointer;
}
header .container nav ul li a.active,
header .container nav ul li a:hover{
    color: var(--first-color);
}
header .container nav .icons>div{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--first-color);
}
@media (max-width:991px) {
    header .container nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        position: fixed;
        top: 0;
        right: -100%;
        max-width: 360px;
        width: 100%;
        height: 100%;
        padding: 20px;
        text-transform: uppercase;
        font-size: var(--fs-24px);
        font-weight: var(--fw-500);
        box-shadow: 3px 4px 10px 1px rgba(0 0 0 /.25);
        color: var(--title-color);
        background-color: var(--body-color);
        transition: all 300ms ease;
    }
    header .container nav ul.menu-toggle{
        right: 0;
    }
    header .container nav ul li.close-menu{
        align-self: end;
        margin-bottom: 20px;
    }
}
@media (min-width:992px) {
    header .container nav{
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header .container nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 50px;
    color: var(--title-color);
    }
    header .container nav ul li.close-menu{
    display: none;
    }
    header .container nav .icons .menu-icon-box{
    display: none;
    }
}
div.overlay{
    position: absolute;
    top: 0;
    opacity: .8;
    width: 100%;
    height: 100%;
    background-color: rgba(88, 88, 88, 0.25);
    transition: all 1s ease;
}
.home .container{
    align-items: center;
    row-gap: 40px;
    min-height: calc(100vh - 70px);
}
.home .container article{
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.home .container article span.price{
    font-size: var(--fs-24px);
    font-weight: var(--fw-500);
    color: var(--first-color);
}
.home .container article .home-btns{
    flex-wrap: wrap;
    row-gap: 20px;
}
.home .container article .home-btns .discover{
    padding: 16px 24px;
    font-size: var(--fs-16px);
    font-weight: var(--fw-500);
    background-color: var(--text-color-alt);
    color: #595959;
    box-shadow: 0 4px 4px 0 rgba(0 0 0 / .25);
}
.home .container .product-image img{
    filter: drop-shadow(-2px 2px 12px #919090);
}
@media (max-width:991px) {
.home .container{
    flex-direction: column-reverse;
}
}
@media (min-width:992px) {
.home .container{
    flex-direction: initial;
    justify-content: space-between;
}
.home .container .article{
    width: 39%;
}
.home .container .product-image{
    width: 40%;
}
}
.featured .container .featured-list{
    grid-template-columns: repeat(auto-fit , min(314px , 100%));
    justify-content: center;
    align-items: start;
    gap: 40px;
    min-height: 75vh;
    margin-top: 60px;
}
.featured .container .featured-list .col{
    gap: 14px;
    position: relative;
    padding: 30px 10px 50px 10px;
    box-shadow: 0 4px 4px 0 rgba(0 0 0 / .19);
    background-color: var(--container-color);
}
.featured .container .featured-list .col .cart-btn{
    display: none;
}
.featured .container .featured-list .col:hover .cart-btn{
    display: inline-flex;
}
.featured .container .featured-list .col .sale-title{
    position: absolute;
    left: -19px;
    top: 45px;
    transform: rotate(270deg);
    padding: 10px 20px;
    font-size: var(--fs-14px);
    font-weight: var(--fw-500);
    color: var(--white-color);
    background-color: var(--first-color);
}
.our-story .container {
    align-items: center;
    gap: 60px;
}
.our-story .container article.article{
    flex-direction: column;
    align-items: start;
    gap: 30px;
    width: 100%;
}
.our-story .container article.article h2.overline::before{
    left: 0;
    transform: translateX(0%);
}
@media (max-width:991px) {
    .our-story .container{
        flex-direction: column-reverse;
    }
    .our-story .container .image img{
        border-radius: 10px;
        box-shadow: 0 6px 6px 0 rgba(0 0 0 / .3);
    }
}
@media (min-width:992px) {
    .our-story .container{
        justify-content: space-between;
    }
    .our-story .container article.article{
        width: 35%;
    }
    .our-story .container .image{
        width: 40%;
        background-color: var(--first-color);
    }
    .our-story .container .image img{
        transform: translate(65px, -65px);
    }
}
.products .container .products-list{
    grid-template-columns: repeat(auto-fit , min(220px , 100%));
    justify-content: center;
    align-items: start;
    gap: 40px 50px;
    margin-top: 60px;
}
.products .container .products-list .col{
    gap: 10px;
    position: relative;
    padding: 30px 10px 50px 10px;
    box-shadow: 0 4px 4px 0 rgba(0 0 0 / .19);
    background-color: var(--container-color);
}